<?xml version="1.0"?>

<model>
  <name>Tree (simple)</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Matous Vrba</name>
    <email>vrbamato@fel.cvut.cz</email>
  </author>

  <description>
    A simple model of a tree, consisting of only a cylindrical trunk.
  </description>
</model>
