<?xml version="1.0"?>

<model>
  <name>Ball (red)</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Matouš Vrba</name>
    <email>vrbamato@fel.cvut.cz</email>
  </author>

  <description>
    A simple model of a spherical ball with a red texture
  </description>
</model>
