<?xml version="1.0"?>

<model>
  <name>safety_led</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Pavel Petracek</name>
    <email>petrapa6@fel.cvut.cz</email>
  </author>

  <description>
    Safety LED: attached light with a settable color which changes back to a default color (red) if heartbeat color topic stops coming in.
  </description>
</model>
