<?xml version="1.0"?>

<model>
  <name>Deployed parachute</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Petr Štibinger</name>
    <email>stibipet@fel.cvut.cz</email>
  </author>

  <description>
    An emergency parachute for emergency flight termination
  </description>

</model>
